@import '../../css/colors.css';

.header {
    width: 100%;
    height: 73px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 1280px;
    height: 72px;
    /* background-color: #000000 0%; */
    border-color: var(--light--grey-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1232px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 194.42px;
    height: 40px;
    display: flex;
    align-items: center;
    flex: 1;
}

.ImageContainer{
    width: 40px;
    height: 40px;
    background-color: #6A0572;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.logoImage {
    width: 15.75px;
    height: 18px;
}

.logoLabel {
    width: 142.42px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.navigation {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navContainer {
    height: 24px;
    padding-right: 32px;

    a {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: #4B5563;

        &.activeLink {
            color: #6A0572;
        }  
    }
}

.navigation .navContainer:last-child {
  padding-right: 0px;
}