.container {
    width: 290px;
    height: 320px;
    padding: 24px;
    background-color: #FFFFFF;
    margin: 16px;
    border-radius: 24px;
}

.bookImage {
    width: 240px;
    height: 192px;
    border-radius: 16px;
}

.bookInfo {
    h3 {
        width: 240px;
        height: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    p {
        width: 240px;
        height: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

    div {
        width: 240px;
        height: 36px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
}

.noImage {
    width: 240px;
    height: 192px;
    border-radius: 16px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 12px;
}