@import '../../css/colors.css';

.container:hover {
    transition: transform 160ms ease;
    transform: scale(1.04);
    box-shadow: 0 6px 16px rgba(0,0,0,.15);
}

.container {
    width: 290px;
    height: 354px;
    background-color: var(--main-white-background-color);
    border-radius: 24px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookImage {
    width: 240px;
    height: 192px;
    border-radius: 16px;
}

.bookInfo {
    h3 {
        width: 240px;
        height: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-md);
    }

    p {
        width: 240px;
        height: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-sm);
    }

    div {
        width: 240px;
        height: 36px;
        font-family: 'Inter', sans-serif;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-mlg);
    }
}

.noImage {
    width: 240px;
    height: 192px;
    border-radius: 16px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: var(--font-size-xs);
}