@import '../../css/colors.css';

.main {
    width: 1280px;
    height: 1170px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.addBooksSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1232px; 
    height: 68px;
    margin-top: 47.5px;
    align-items: center;
}

.addBooksTitle {
    flex: 1;
    width: 392px;
    height: 68px;

    p {
      font-family: 'Inter', sans-serif;
      font-weight: var(--font-weight-regular);
      font-size: 16px;
      height: 24px;
      margin: 0px;
      margin-top: 8px;
    }

    h2 {
      font-family: 'Inter', sans-serif;
      font-weight: var(--font-weight-bold);
      font-size: 30px;
      height: 36px;
      margin: 0px;
    }
}

.addButton {
  background-color: var(--magenta-button-label-color);
  width: 188px;
  height: 48px;
}

.toolBarSection {
    margin-top: 32px;
}

.bookListSection{
    width: 1232px;
    margin-top: 42px;
}