
.container {
    width: 1232px;
    height: 98px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border-color: var(--medium--grey-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolsContainer {
    width: 1182px;
    height: 48px;
    display: flex;
    flex-direction: row;
}


.searchContainer {
    width: 916px;
    height: 48px;
}