.main {
    width: 1152px;
    height: 1694px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.addBookSection {
    width: 1104px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.addBookLabel {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    height: 44px;
    color: #111827;
}

.addBookSubtitle{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 56px;
    color: #4B5563;
    word-wrap: break-word;
    width: 672px;
    text-align: center;
}

.bookForm {
    width: 868px;
    height: 966px;
    background-color: #FFFFFF;
    border-color: #F3F4F6;
    border-radius: 24px;
}

.formContainer {
    width: 798px;
    height: 868px;
    
}