@import '../../css/colors.css';

.main {
    width: 1152px;
    height: 1694px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.addBookSection {
    width: 1104px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.addBookLabel {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    height: 44px;
    color: var(--add-book-page-color);
}

.addBookSubtitle{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 56px;
    color: var(--header-label-color);
    word-wrap: break-word;
    width: 672px;
    text-align: center;
}

.bookForm {
    width: 868px;
    height: 966px;
    background-color: var(--main-white-background-color);
    border-color: var(--medium-grey-border-color);
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formContainer {
    width: 798px;
    height: 868px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.formControls {
    justify-content: space-between;
    width: 798px;
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.cancelButton {
    width: 385px;
    height: 80px;
    border-color: var(--cancel-button-border-color);
    border: 2px solid;
    
    label {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: var(--cancel-button-label-color);
    }
}

.addButton {
    background-color: var(--magenta-button-label-color);
    width: 385px;
    height: 80px;
}

.inputBookName {
    input {
        width: 798px;
        height: 76px;
    }
}

.authorPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.inputAuthorPrice {
    input {
        width: 383px;
        height: 76px;
    }
}

.bookImage {
    margin-top: 40px;
    width: 100%;
    height: 404px;
}