@import '../../css/colors.css';

.main {
    width: 1152px;
    height: 1694px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.addBookSection {
    width: 1104px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.addBookLabel {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    height: 44px;
    color: var(--add-book-page-color);
}

.addBookSubtitle{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 56px;
    color: var(--header-label-color);
    word-wrap: break-word;
    width: 672px;
    text-align: center;
}

.bookForm {
    width: 868px;
    height: 966px;
    background-color: var(--main-white-background-color);
    border-color: var(--medium-grey-border-color);
    border-radius: 24px;
}

.formContainer {
    width: 798px;
    height: 868px;
    
}