@import '../css/colors.css';

.goBackToHomePage {
  background-color: var(--magenta-button-label-color);
  border-radius: 16px;
  border-color: var(--light--grey-border-color);
  width: 188px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  label {
    width: 175px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
    color: var(--main-white-background-color);
    display: flex;
    align-items: center;
  }
}

.goBackToHomePage:hover {
  transition: transform 160ms ease;
  transform: scale(1.04);
  box-shadow: 0 6px 16px rgba(0,0,0,.15);
}