
:root {
    /* border colors */
    --light--grey-border-color: #E5E7EB;
    --medium-grey-border-color: #F3F4F6;

    /* background colors */
    --main-page-background-color: #F7F7F7;
    --main-white-background-color: #FFFFFF;
}