#root {
  background-color: #F7F7F7;
}

header {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #FFFFFF;
  padding: 30px;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
}

.logoImage {
  width: 15.75px;
  height: 18px;
}

.ImageContainer{
  width: 40px;
  height: 40px;
  background-color: #6A0572;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.logoLabel {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.navigation {
  display: flex;
  height: 32px;
  div {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    width: 84px;
    height: 24px;
    padding: 13px;
  }
}
.navLabel {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.mainContainer {
  padding: 30px;
}

.addBooksTitle {
  flex: 1;
}

.addBooksSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
}

.button {
  background-color: #6A0572;
  border-radius: 16px;
  border-color: #E5E7EB;
  width: 188px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  label {
    width: 118px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
}

.addImage {
  width: 13px;
  height: 13px;
  padding: 8px;
}

.bookListSection{
  width: 1232px;
  height: 500px;
  padding: 24px;
  display: flex;
  flex-direction: row;
}