#root {
  background-color: #F7F7F7;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1232px;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
}

.logoImage {
  width: 15.75px;
  height: 18px;
}

.ImageContainer{
  width: 40px;
  height: 40px;
  background-color: #6A0572;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.logoLabel {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.navigation {
  display: flex;
  height: 32px;

  a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    width: 84px;
    height: 24px;
    padding: 13px;
    color: #4B5563;
    text-decoration: none;

    &.active-link {
      color: #6A0572;
    }
  }
}

.navigation a:last-child {
  padding-right: 0px;
}

.navLabel {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.mainContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addBooksTitle {
  flex: 1;
}

.addBooksSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1232px;

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
}

.button {
  background-color: #6A0572;
  border-radius: 16px;
  border-color: #E5E7EB;
  width: 188px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  label {
    width: 118px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
}

.button:hover {
  transition: transform 160ms ease;
  transform: scale(1.04);
  box-shadow: 0 6px 16px rgba(0,0,0,.15);
}

.addImage {
  width: 13px;
  height: 13px;
  padding: 8px;
}

.bookListSection{
  width: 1232px;
}
