@import '../../css/fonts.css';

.container {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    background-color: var(--search-bar-background-color);
    border-radius: 24px;
    padding-left: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}
.img {
    width: 16px;
    height: 24px;
    padding: 0px 10px;
}

.label {
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-mlg);
    color: var(--input-field-label-color);
}