.container {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    border-color: #E5E7EB;
    background-color: #F9FAFB;
    border-radius: 24px;
}

.label {
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1F2937;
}